.experience {
  position: relative; 
}

.timeline-image {
    width: 100px; 
    height: auto; 
    margin: 0;
    padding: 0;
    float: right;
  }

  .timeline-image1 {
    width: 100px; 
    height: auto; 
    margin: 0;
    padding-top: 30px;
    float: right;
  }

  .experience-header {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center; 
  }

  .button-container {
    text-align: center; 
  }
  
  .toggle-button {
    display: inline-block;
    width: max-content; 
    padding: 10px 20px;
    background-color: #3e497a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
  }

  .location-pin {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-30%, 30%);
    color: white;
  }

  .toggle-button:hover {
    background-color: #2c3a5a; 
  }

  @media only screen and (max-width: 600px) {
    .skill-set {
      gap: 10px; 
      justify-items: center; 
      align-items: center; 
    }
  
    .skill {
      align-items: center; 
      text-align: center; 
    }
  
    .skills-grid {
      padding: 0 10px; 
    }
  }
  @media (max-width: 768px) {
    .toggle-button {
      margin-right: 245px;
    }

    .toggle-button:hover {
      background-color: #2c3a5a; 
    }
  }


.dark-mode .vertical-timeline-element--education .vertical-timeline-element-content,
.dark-mode .vertical-timeline-element--volunteer .vertical-timeline-element-content,
.dark-mode .vertical-timeline-element--work .vertical-timeline-element-content {
  background: #1a1a2e !important; 
  color: #e6e6e6 !important; 
}

.dark-mode .vertical-timeline-element-content .vertical-timeline-element-title,
.dark-mode .vertical-timeline-element-content .vertical-timeline-element-subtitle {
  color: #e6e6e6 !important; 
}


.dark-mode .vertical-timeline::before {
  background: #3e497a !important;
}

.dark-mode .experience {
  color: #e6e6e6 !important; 
}



  

