
.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
    overflow-x: hidden;
  }
  
  .about {
    width: 100%;
    height: calc(115vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f0f0f0;
    margin-top: 50px;
  }
  
  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200px;
    color: #e9d35b;
    /* height: 50px;*/ 
  }
  
  .about .prompt {
    width: 60%;
    font-size: 30px;
    margin-top: -100px;
  }

  .prompt {
    font-size: 40px;
  }

  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
    margin: 0 1px;
  }

  .icon-link {
    position: relative;
    display: inline-block;
    margin-bottom: 200px;
  }
  
  .icon-title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #e9d35b;
    font-size: 24px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
  }
  
  .icon-link:hover .icon-title {
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
  }

.icon-link.linkedin:hover svg {
  color: #0077b5;
}

.icon-link.github:hover svg {
  color: #333; 
}

.icon-link.email:hover svg {
  color: #D44638;
}

.icon-link.badge:hover svg {
  color: #4A90E2;
}


@media (max-width: 768px) {
  .about h2 {
    font-size: 40px; 
  }

  .about .prompt {
    width: 80%; 
    font-size: 20px;
  }

  .prompt svg {
    font-size: 30px;
  }

  .section {
    padding-top: 80px; 
    margin-top: -60px;
  }
}
  
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 100px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }

  }