.projects {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
}

.projects .projectTitle {
  text-align: center;
  color: #3e497a;
  font-size: 50px;
  font-weight: bolder;
}

.section {
  padding-top: 80px; 
  margin-top: -70px;
}

.projectList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.projectItem {
  cursor: pointer;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  margin: 40px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in;
}

.projectItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

.projectItem .bgImage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectItem h1 {
  font-size: 25px;
}

.projectItemWrapper {
  margin-bottom: 20px; 
  cursor: pointer;
}

.projectInfo {
  width: 100%;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  visibility: hidden; 
  opacity: 0; 
  bottom: -100%; 
  left: 0;
  right: 0;
  background: #21325e; 
  border-radius: 15px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out;
  }

.showInfo .projectInfo {
  visibility: visible; 
  opacity: 1; 
  transform: translateY(0); 
}

@media (max-width: 768px) {
  .projectInfo {
    visibility: visible; 
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1300px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .projectItem {
    width: 300px;
    height: 300px;
  }
}

.dark-mode .projects .projectTitle,
.dark-mode .projectItem h1,
.dark-mode .projectInfo,
.dark-mode .projects{
  color: #e6e6e6; 
}

.dark-mode .projectItem {
  background-color: #1a1a2e; 
  box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.1); 
}

.dark-mode .projectItem:hover {
  box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.3); 
}

.dark-mode .projectInfo {
  background: #2c3a5a;
}