.skills {
    font-size: 22px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
    text-align: center; 
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .skill-set {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    justify-items: center; 
    align-items: center; 
  }
  
  .skills h1 {
    color: #3e497a;
    font-size: 40px;
  }

  .skill-container {
    break-inside: avoid-column; 
    page-break-inside: avoid; 
    -webkit-column-break-inside: avoid; 
    margin-bottom: 5px; 
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    justify-items: center;
    width: 80%; 
    margin: 0 auto;
  }

  

@media only screen and (max-width: 600px) {
  .skill-category.developer-tools .skill-set {
    column-count: 1; 
    column-gap: 10px; 
  }

  .skill-container {
    break-inside: avoid; 
  }

  .skills-grid {
    grid-template-columns: 1fr; 
    padding: 0 10px; 
  }

  .skill {
    align-items: flex-start; 
  }
}

@media (max-width: 768px) {
    .skills-grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

.dark-mode .skills h1,
.dark-mode .skills h2,
.dark-mode .skill-set,
.dark-mode .skill-container {
  color: #e6e6e6; 
}

.dark-mode .skill a {
  color: #e6e6e6; 
  transition: color 0.3s; 
}

.dark-mode .skill a:hover {
  color: #c7c7c7; 
}

.dark-mode .skill svg {
  fill: #e6e6e6; 
}
