.skills {
    font-size: 22px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
    text-align: center; 
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .skill-set {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns */
    gap: 10px; /* Adjust the gap between icons as needed */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
  
  .skills h1 {
    color: #3e497a;

  }

  .skill-container {
    break-inside: avoid-column; /* Prevents the container from being split across columns */
    page-break-inside: avoid; /* For older browsers */
    -webkit-column-break-inside: avoid; /* For Safari */
    margin-bottom: 5px; /* Space between skill containers */
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    justify-items: center;
    width: 80%; 
    margin: 0 auto;
  }

  

@media only screen and (max-width: 600px) {
  .skill-category.developer-tools .skill-set {
    column-count: 1; /* Single column for mobile */
    column-gap: 10px; /* Smaller gap for mobile */
  }

  .skill-container {
    break-inside: avoid; 
  }

  .skills-grid {
    grid-template-columns: 1fr; 
    padding: 0 10px; 
  }

  .skill {
    align-items: flex-start; 
  }
}

@media (max-width: 768px) {
    .skills-grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }