.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

body {
  padding: 0;
  margin: 0;
}

body.dark-mode {
  background-color: #1a1a2e; 
}

body.dark-mode .App {
  background-color: #0f0f4d; 
  color: #e6e6e6; 
}

